$color-white: #fff;
$color-black: #000;
$color-2: #ffe8c6;
$color-3: #ffe8eb;
$color-primary: #00c8af;
$color-secondary: #84e2fc;
$shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

//grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
