* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  //not belong to typography because it defines  rem
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(big-desktop) {
    font-size: 75.25%; // 1rem = 12px; 12px/16px = 75%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8; 8px/16px = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
